<div *ngIf="mySubmission.length !== 0" class="parent">
    <nb-accordion *ngFor="let submission of mySubmission">
        <nb-accordion-item>
            <nb-accordion-item-header>
                <div id="info">
                    <div class="time-submit">
                        <div style="display: flex;">
                            <p style="margin-top: 3px;">{{submission.time| date: "short"}}
                            </p>
                        </div>
                    </div>
                    <div class="timelimit">
                        <div nbTooltip="Runtime" style="display: flex;">
                            <p style="margin-top: 3px;">{{(submission.total_time * 1000).toFixed(0)}} ms
                            </p>
                            <nb-icon style="margin-left: 5px;" class="icon" icon="clock-outline">
                            </nb-icon>
                        </div>
                    </div>
                    <div class="memlimit">
                        <div nbTooltip="Memory" style="display: flex;">
                            <p style="margin-top: 4.5px;">{{(submission.total_memory / 1024).toFixed(2)}} KB
                            </p>
                            <nb-icon style="margin-left: 5px;" class="icon" icon="save-outline">
                            </nb-icon>
                        </div>
                    </div>
                    <div class="score">
                        <div nbTooltip="Score" style="display: flex;">
                            <p style="margin-top: 4.5px;">{{submission.score}}/{{submission.total_score}}
                            </p>
                            <nb-icon style="margin-left: 5px;" class="icon" icon="star-outline">
                            </nb-icon>
                        </div>
                    </div>
                </div>
            </nb-accordion-item-header>
            <nb-accordion-item-body *ngIf="submission">
                <div class="body">
                    <h1 class="score-heading">Your score: {{submission.score}}/{{submission.total_score}}</h1>
                    <p (click)="viewSrcCode(submission.source, submission.language_id)" class="view-code">View Source
                        Code</p>
                    <hr>
                    <div class="testcase">
                        <div *ngFor="let case of submission.testcases, index as i">
                            <p style="margin-top: 10px; font-weight: bold; font-family: Open Sans, sans-serif;">#test
                                {{i + 1}}</p>
                            <div class="row-case">
                                <div class="example">
                                    <p class="text-example">
                                        <span>
                                            <strong>
                                                Input:
                                            </strong>
                                            {{case.Input || "NULL"}}
                                        </span>
                                    </p>
                                    <p class="text-example">
                                        <span>
                                            <strong>
                                                ExpectedOutput:
                                            </strong>
                                            {{case.ExpectedOutput || "NULL"}}
                                        </span>
                                    </p>
                                    <p class="text-example">
                                        <span>
                                            <strong>
                                                YourOutput:
                                            </strong>
                                            {{case.Message || case.Output || case.Stderr || "NULL"}}
                                        </span>
                                    </p>
                                </div>
                                <div class="row-case-check">
                                    <nb-icon *ngIf="case.Message === 'PASS' " style="color: green;"
                                        class="icon-testcase" icon="checkmark-circle-2-outline">
                                    </nb-icon>
                                    <nb-icon style="color: red;" *ngIf="case.Message === 'FAIL'" class="icon-testcase"
                                        icon="close-outline"></nb-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nb-accordion-item-body>
        </nb-accordion-item>
    </nb-accordion>

</div>

<div class="" *ngIf="mySubmission.length === 0">
    <p class="no-submission">You don't have any submissions yet.</p>
</div>