@forward '@nebular/theme/styles/theming';
@use '@nebular/theme/styles/theming' as *;
@use '@nebular/theme/styles/themes/corporate';
@use '@nebular/theme/styles/themes/dark';

$nb-themes: nb-register-theme(( // add your variables here like:

      // color-primary-100: #f2f6ff,
      // color-primary-200: #d9e4ff,
      // color-primary-300: #a6c1ff,
      // color-primary-400: #598bff,
      // color-primary-500: #3366ff,
      // color-primary-600: #274bdb,
      // color-primary-700: #1a34b8,
      // color-primary-800: #102694,
      // color-primary-900: #091c7a,

    ), corporate, corporate);

$nb-themes: nb-register-theme(( // add your variables here like:
      color-primary-100: #DDFFDB,
      color-primary-200: #B7FFBA,
      color-primary-300: #94FFA3,
      color-primary-400: #79FF99,
      color-primary-500: #4DFF89,
      color-primary-600: #38DB7F,
      color-primary-700: #26B774,
      color-primary-800: #189366,
      color-primary-900: #0E7A5D,

      background-primary-color-1: #ffffff,
      background-primary-color-2: #d8d8d8,
      background-primary-color-3: #acacac,
      background-primary-color-4: #8a8a8a,

      background-basic-color-1: #313131,
      background-basic-color-2: #2e2e2e,
      background-basic-color-3: #1f1f1f,
      background-basic-color-4: #101426,

      border-basic-color-1: #444444,
      border-basic-color-2: #303030,
      border-basic-color-3: #222222,
      border-basic-color-4: #1f1f1f,
      border-basic-color-5: #222222,

      shadow: 0 0.5rem 1rem 0 #252525,
    ), dark, dark);