<h1>New Problem</h1>

<div id="body">
    <div class="left">
        <div class="input">
            <label>Title</label>
            <input type="text" nbInput fullWidth status="basic" placeholder="Title" [(ngModel)]="title">
        </div>

        <div class="input">
            <label>Description</label>
            <textarea type="text" nbInput fullWidth status="basic" placeholder="Description"
                [(ngModel)]="description"></textarea>
        </div>
        <div class="input">
            <label>Tags (comma delimiter)</label>
            <input type="text" nbInput fullWidth status="basic" placeholder="Tags" (change)="changeTag()"
                [(ngModel)]="tags">
        </div>
        <div class="input">
            <label>Problem statement</label>
            <md-editor [(ngModel)]="problemStatement"></md-editor>
        </div>


        <div class="input">
            <label>Samples</label>
            <div *ngFor="let sample of samples; let i=index;" class="testcase-parent">
                <textarea class="input-testcase" type="text" nbInput fullWidth status="basic" placeholder="Input"
                    [(ngModel)]="sample.input"></textarea>
                <textarea class="input-testcase" type="text" nbInput fullWidth status="basic"
                    placeholder="Expected Output" [(ngModel)]="sample.output"></textarea>
                <button nbButton (click)="removeSample(i)">Remove</button>
            </div>
            <button nbButton (click)="addSample()">Add</button>
        </div>

        <div class="input">
            <label>Test cases</label>
            <nb-accordion>
                <nb-accordion-item *ngFor="let testcase of testcases; let i= index">
                    <nb-accordion-item-header>Test #{{i+1}}</nb-accordion-item-header>
                    <nb-accordion-item-body>
                        Input
                        <textarea class="input-testcase" type="text" nbInput fullWidth status="basic"
                            placeholder="Input" [(ngModel)]="testcase.input"></textarea>
                        <br>
                        Output
                        <textarea class="input-testcase" type="text" nbInput fullWidth status="basic"
                            placeholder="Expected Output" [(ngModel)]="testcase.output"></textarea>
                        <br>
                        Time limit (second)
                        <input class="input-testcase" type="number" nbInput fullWidth status="basic"
                            placeholder="Time Limit" [(ngModel)]="testcase.timeLimit">
                        <br>
                        Memory limit (kB)
                        <input class="input-testcase" type="number" nbInput fullWidth status="basic"
                            placeholder="Memory Limit" [(ngModel)]="testcase.memoryLimit">
                        <br>
                        Score
                        <input class="input-testcase" type="number" nbInput fullWidth status="basic" placeholder="Score"
                            [(ngModel)]="testcase.score">
                        <br>
                        <nb-toggle [(checked)]="testcase.allowViewOnFailed">Allow view test on failed</nb-toggle>
                        <br>
                        <button style="float: right;" nbButton status="danger" (click)="removeTest(i)">Delete</button>
                    </nb-accordion-item-body>
                </nb-accordion-item>
            </nb-accordion>
            <button nbButton (click)="addTest()">Add new test</button>
        </div>

    </div>
    <div class="right">
        Preview
        <nb-card class="card">
            <nb-card-header>
                <p>{{title}}</p>
                <nb-tag-list *ngIf="tagArray.length!=0">
                    <nb-tag *ngFor="let tag of tagArray" status="basic" appearance="filled" [text]="tag"></nb-tag>
                </nb-tag-list>
            </nb-card-header>
            <nb-card-body>
                {{description}}
            </nb-card-body>

        </nb-card>

        <button *ngIf="allowCreateProblem" nbButton status="primary" class="submit" (click)="createProblem()">Create
            problem</button>
    </div>
</div>