#body {
    display: flex;
}

h1 {
    text-align: center;
}

.left {
    width: 60%;
}

.right {
    width: 40%;
}

input[type=text] {
    padding: 15px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 auto;
    outline: none;
}

select {
    width: 100%;
    padding: 15px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 auto;
    outline: none;
}

.submit {
    display: block;
    padding: 15px;
    box-sizing: border-box;
    margin: 0 auto;
    outline: none;
    margin-top: 20px;
}

.input {
    width: 90%;
    margin: 0 auto;
    margin-top: 1em;
    display: block;
}

.card {
    width: 95%;
    margin-top: 1em;
}

nb-select {
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 auto;
    outline: none;
    margin-top: 1em;
}

.input-testcase {
    margin:5px;
}

.testcase-parent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1em;
}

#markdown {
    width: 200px;
    height: 200px;
}

.title {
    font-weight: bold;
    font-size: 1.3rem;
}