#parent {
    display: flex;
    width: 100%;
    // gap: 1em;
    height: 100%;
    flex-direction: row;
    align-items: stretch;

}

.tab-problem {}

.left {
    // width: 50%;
    flex-grow: 1;
}

.right {
    min-width: 50%;
    // height: 770px;
    // background-color: rgb(25, 33, 112);
    flex-grow: 1;
}

.title {
    font-size: 2rem;
    margin: 20px 0 10px 0;
}

.tags {
    display: flex;
    gap: 20px 5px;
}

.description,
.content {
    margin-top: 20px;
}

.example {
    width: 100%;
    padding: 10px;
    background-color: #f7f9fa;
    border-radius: 5px;
}

.input-ex {
    width: 90%;
    display: block;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(200, 200, 200, 0.5);
}

.text-example {
    padding: 0px 0px 0px 10px;
    font-size: 10pt;
    margin-bottom: 0;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}

.date {
    margin: 10px 0 10px 0;
}