<div id="parent">
    <div class="left">
        <nb-card *ngIf="problem" style="height: 100%;">
            <nb-card-body>
                <nb-tabset>
                    <nb-tab tabTitle="PROBLEM" tabIcon="alert-triangle-outline" responsive>
                        <div class="tab-problem">
                            <h1 class="title">
                                <strong>{{problem.title}}</strong>
                            </h1>
                            <p class="date">{{problem.createdAt | date: "medium"}}</p>
                            <div class="tags">
                                <nb-tag *ngFor="let tag of problem.tags" class="tag" status="primary"
                                    appearance="filled" [text]="tag"></nb-tag>
                            </div>
                            <div class="description">
                                <p style="line-height: 35px;"><strong>Description: </strong>{{problem.description}}</p>
                            </div>
                            <hr>
                            <div class="content">
                                <p><strong>Problem statement: </strong></p>
                                <markdown [data]="problem.content">

                                </markdown>
                            </div>
                            <hr>
                            <p><strong>Samples:</strong> </p>
                            <div *ngFor="let sample of problem.samples, index as i">
                                <p style="margin-top: 10px; font-weight: bold;">case# {{i + 1}}</p>
                                <div class="example">
                                    <div class="example-left">
                                        <textarea disabled [value]="sample.input" class="input-ex" type="text" name=""
                                            id=""></textarea>
                                    </div>
                                    <div class="example-right">
                                        <textarea disabled [value]="sample.output" class="input-ex" type="text" name=""
                                            id=""></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nb-tab>
                    <nb-tab tabTitle="submission" tabIcon="award-outline" responsive>
                        <app-submission></app-submission>
                    </nb-tab>
                    <nb-tab tabTitle="HISTORY" tabIcon="email-outline" responsive>
                        <app-history></app-history>
                    </nb-tab>
                </nb-tabset>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="right">
        <nb-card *ngIf="info" style="margin-bottom: 0;">
            <nb-card-body>
                <nb-select placeholder="Language">
                    <nb-option *ngFor="let language of info.programmingLanguages" [value]="language">{{language}}
                    </nb-option>
                </nb-select>

                <button (click)="run()" nbButton status="primary">
                    <nb-icon icon="arrow-right-outline"></nb-icon>Run
                </button>
            </nb-card-body>
        </nb-card>
        <ngx-monaco-editor style="height:100%; width: 100%;" [options]="editorOptions" [(ngModel)]="code">
        </ngx-monaco-editor>
    </div>
</div>