<app-spinkit *ngIf="!isLoaded"></app-spinkit>
<div *ngIf="isLoaded" id="body">
    <div class="list">
        <nb-card *ngFor="let problem of problems" class="card" style="position: relative;"
            (click)="viewProblem(problem)">
            <nb-card-header>
                <div style="display: flex;">
                    <p class="title">{{problem.title}}</p>
                    <span style="flex: 1 1 auto;"></span>
                    <nb-icon style="margin: 5px 0 0 0;" icon="edit-outline"></nb-icon>
                </div>
                <nb-tag-list>
                    <nb-tag *ngFor="let tag of problem.tags" status="primary" appearance="filled" [text]="tag">
                    </nb-tag>
                </nb-tag-list>
            </nb-card-header>
            <nb-card-body>
                {{problem.description}}
            </nb-card-body>
        </nb-card>
    </div>
</div>