#body {
    width: 90%;
    // background-color: darkgray;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

#top {}

input[type=text] {
    width: 90%;
    padding: 20px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 auto;
    outline: none;
}

.filter {
    width: 80%;
}

.card {
    // margin-left: 10px;
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1em;
}

.title {
    font-weight: bold;
    font-size: 1.3rem;
}

.card:hover {
    cursor: pointer;
}