#info {
    width: 100%;
    display: flex;

    .time-submit,
    .timelimit,
    .memlimit,
    .score {
        width: 25%;
        display: flex;
    }
}

.parent {
    padding: 16px;
}

.score-heading {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Open Sans, sans-serif;
}

.input-case {
    width: 95%;
    display: block;
    margin: 0 auto;
    padding: 10px;
}

.icon {
    display: block;
    margin: 0 auto;
    margin-top: 5px;
}

.score-case {
    margin-top: 20px;
}

.view-code:hover {
    cursor: pointer;
}

.view-code {
    font-style: italic;
    color: rgb(91, 94, 99);
    font-family: Open Sans, sans-serif;
}

.icon-testcase {
    display: block;
    margin: 0 auto;
}

.case {
    width: 100%;
}

.row-case {
    display: flex;
    width: 100%;
    background-color: #f7f9fa;
}

.example {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
}

.row-case-check {
    width: 20%;
    padding: 10px;
    margin-top: 10px;
}



.text-example {
    padding: 0px 0px 0px 10px;
    font-size: 10pt;
    margin-bottom: 0;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}

.no-submission {
    margin-top: 50px;
    text-align: center;
    color: rgb(0, 0, 0, 0.5);
    font-size: 1rem;
    font-family: Open Sans, sans-serif;
}