<h1>Your Problem</h1>
<div id="body">
    <div class="tool">
        <nb-select class="select" placeholder="Difficulty">
            <nb-option value="">All</nb-option>
            <nb-option value="0">Easy</nb-option>
            <nb-option value="1">Medium</nb-option>
            <nb-option value="2">Hard</nb-option>
        </nb-select>

        <nb-select class="select" placeholder="Status">
            <nb-option value="">All</nb-option>
            <nb-option value="0">Todo</nb-option>
            <nb-option value="1">Solved</nb-option>
            <nb-option value="2">Attempted</nb-option>
        </nb-select>

        <nb-select class="select" placeholder="Tags">
            <nb-option value="">All</nb-option>
            <nb-option value="0">Database</nb-option>
            <nb-option value="1">Pytago</nb-option>
            <nb-option value="2">Fibbonaci</nb-option>
            <nb-option value="3">Ước Chung lớn nhất</nb-option>
        </nb-select>
    </div>

    <div id="list_manage">
        <div class="table-wrap">
            <table class="table">
                <thead class="thead-primary">
                    <tr>
                        <th>Status</th>
                        <th>Title</th>
                        <th>Score</th>
                        <th>Difficulty</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let problem of (problems$ | async); let i = index" class="problem">
                        <th scope="row" class="scope" >{{problem.title}}</th>
                        <td>{{problem.title}}</td>
                        <td>{{problem.score}}</td>
                        <td>{{problem.difficulty}}</td>
                        <td><a href="#" class="btn btn-primary">Open</a></td>
                    </tr>
                </tbody>
            </table> 
        </div>    
    </div>
</div>

