<h1>Your Problem</h1>
<div id="body">
    <div class="tool">
        <nb-select class="select" placeholder="Difficulty">
            <nb-option value="">All</nb-option>
            <nb-option value="0">Easy</nb-option>
            <nb-option value="1">Medium</nb-option>
            <nb-option value="2">Hard</nb-option>
        </nb-select>

        <nb-select class="select" placeholder="Status">
            <nb-option value="">All</nb-option>
            <nb-option value="0">Todo</nb-option>
            <nb-option value="1">Solved</nb-option>
            <nb-option value="2">Attempted</nb-option>
        </nb-select>

        <nb-select class="select" placeholder="Tags">
            <nb-option value="">All</nb-option>
            <nb-option value="0">Database</nb-option>
            <nb-option value="1">Pytago</nb-option>
            <nb-option value="2">Fibbonaci</nb-option>
            <nb-option value="3">Ước Chung lớn nhất</nb-option>
        </nb-select>
    </div>

    <div id="list-problem" >
        <div class="Ingredient" style="padding: 0.5% 0 0.5% 0;">
            <label id="Ing-Sta" style="font-size: 25px; ">Status</label>
            <label id="Ing-Tit" style="padding-left: 10.5%; font-size: 25px; ">Title</label>
            <label id="Ing-Sco" style="padding-left: 50%; font-size: 25px; ">Score</label>
            <label id="Ing-Dif" style="padding-left: 10%; font-size: 25px; ">Difficulty</label> 
        </div>
        <hr width="85%" align="center" style="margin: 0; "/>
    </div>
    <div id="your_problem">
        <div class="Status">
            <nb-icon style="font-size: 25px;" icon="person-done-outline"></nb-icon>
        </div>

        <div class="Title">
            <label class="Ing-Tit" style="padding-left: 1%; font-size: 25px; ">Fibbonaci</label>
        </div>

        <div class="Score">
            <label class="Ing-Sco" style="padding-left: 8%; font-size: 25px; ">10</label>
        </div>

        <div class="Difficulty">
            <label class="Ing-Dif" style="padding-left: 3%; font-size: 25px; ">Hard</label> 
        </div>
    </div>

    <div id="your_problem">
        <div class="Status">
            <nb-icon style="font-size: 25px;" icon="person-done-outline"></nb-icon>
        </div>

        <div class="Title">
            <label class="Ing-Tit" style="padding-left: 1%; font-size: 25px; ">Pytago</label>
        </div>

        <div class="Score">
            <label class="Ing-Sco" style="padding-left: 8%; font-size: 25px; ">8</label>
        </div>

        <div class="Difficulty">
            <label class="Ing-Dif" style="padding-left: 3%; font-size: 25px; ">Medium</label> 
        </div>
    </div>
          
   
</div>

