h1 
{
    text-align: center;
}

#body
{
    width: 100%;
    
}

.tool
{
    width: 95%;
    background-color: #edf1f7;
    margin: 0 auto;
}

.select
{
    padding: 0.5% 0 0.5% 0;
    margin-right: 1%;
}

#list_manage
{
    margin: 0 auto;
    width: 95%;
    background-color: #edf1f7;
}

// #your_problem
// {
    
//     width: 95%;
//     background-color: #edf1f7;
//     margin: 0 auto;
//     display: flex;
// }

// .Status
// {
//     padding-top: 3%;
//     width: 13.8%;
//     background-color: #edf1f7;
// }

// .Title
// {
//     padding-top: 3%;
//     width: 50%;
//     background-color: #edf1f7;
// }

// .Score
// {
//     padding-top: 3%;
//     width: 14%;
//     background-color: #edf1f7;
// }

// .Difficulty
// {
//     padding-top: 3%;
//     width: 10%;
//     background-color: #edf1f7;
// }
// .btn
// {
//     // padding-top: 1.5%;
// }