<nb-card style="padding:0;">
    <nb-card-body style="padding: 0;">

        <table style="width: 100%; height:100%" [nbTreeGrid]="source" [nbSort]="source" (sort)="updateSort($event)">

            <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
            <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

            <ng-container [nbTreeGridColumnDef]="customColumn">
                <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(customColumn)" *nbTreeGridHeaderCellDef>
                    {{customColumn}}
                </th>
                <td nbTreeGridCell *nbTreeGridCellDef="let row">
                    <!-- <nb-fs-icon [kind]="row.data.kind" [expanded]="row.expanded"></nb-fs-icon> -->
                    {{row.data[customColumn]}}
                </td>
            </ng-container>

            <ng-container *ngFor="let column of defaultColumns; let index = index" [nbTreeGridColumnDef]="column">
                <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(column)" *nbTreeGridHeaderCellDef>
                    {{column}}
                </th>
                <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data[column] || '-'}}</td>
            </ng-container>
        </table>

    </nb-card-body>
</nb-card>