#row-info {
    width: 100%;
    display: flex;

    .user {
        width: 25%;
    }

    .time {
        width: 20%;
        text-align: center;

    }

    .memory {
        width: 20%;
        text-align: center;

    }

    .language {
        width: 20%;
        text-align: center;
    }

    .score {
        width: 15%;
        text-align: center;
    }

    .text {
        font-weight: bold;
    }

    padding: 10px 0 10px 0;
}

#row-info:hover {
    cursor: pointer;
}