<nb-card class="achievement-right-ranking">
  <nb-card-body>
    <nb-tabset>
      <nb-tab>
        <ng-template nbTabTitle>
          <span>Today</span>
        </ng-template>
        <div class="ranking-top">
          <span>
            <nb-icon icon="github-outline" class="icon"></nb-icon>
            Jimmy B
            <nb-icon icon="star-outline" class="icon"></nb-icon>
          </span>
          <span>
            <nb-icon icon="github-outline" class="icon"></nb-icon>
            Cecille P
            <nb-icon icon="star-outline" class="icon"></nb-icon>
          </span>
          <span>
            <nb-icon icon="github-outline" class="icon"></nb-icon>
            Camila V
            <nb-icon icon="star-outline" class="icon"></nb-icon>
          </span>
          <span>
            <nb-icon icon="github-outline" class="icon"></nb-icon>
            Eugen E
          </span>
          <span>
            <nb-icon icon="github-outline" class="icon"></nb-icon>
            Erren D
          </span>
        </div>
      </nb-tab>
      <nb-tab>
        <span *nbTabTitle>Total</span>
        <div class="ranking-top">
          <span>
            <nb-icon icon="github-outline" class="icon"></nb-icon>
            User 1
            <nb-icon icon="star-outline" class="icon"></nb-icon>
          </span>
          <span>
            <nb-icon icon="github-outline" class="icon"></nb-icon>
            User 2
            <nb-icon icon="star-outline" class="icon"></nb-icon>
          </span>
          <span>
            <nb-icon icon="github-outline" class="icon"></nb-icon>
            User 3
            <nb-icon icon="star-outline" class="icon"></nb-icon>
          </span>
          <span>
            <nb-icon icon="github-outline" class="icon"></nb-icon>
            User 4
          </span>
          <span>
            <nb-icon icon="github-outline" class="icon"></nb-icon>
            User 5
          </span>
        </div>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>
