nb-layout-header {
    background-color: #426EF0;
    // position: fixed;
    // top: 0;
    width: 100%;
}

.logo:hover {
    cursor: pointer;
}

#title {
    color: white;
    font-weight: bold;
    font-size: 2rem;
}

.login {
    color: white;
    font-weight: bold;
}

.space {
    margin-top: 100px;
}